@font-face {
    font-family: 'montserrat-light';
    font-display: auto;
    src: url('fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-regular';
    font-display: auto;
    src: url('fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    font-display: auto;
    src: url('fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    font-display: auto;
    src: url('fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-bold';
    font-display: auto;
    src: url('fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-extrabold';
    font-display: auto;
    src: url('fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-black';
    font-display: auto;
    src: url('fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}