* {
    box-sizing: border-box;
    font-family: montserrat-regular;
    font-size: 100%;
    margin: 0;
    border: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: flex;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    min-height: 100vh;
    padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.cabecalho {
    width: 100%;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .3s;
}

.cabecalho .container {
    justify-content: space-between;
    align-items: center;
}

.cabecalho2 {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 0px 5px #9c9c9c;
}

.cabecalho2 .logo img {
    height: 50px;
}

.cabecalho2 .logo span {
    font-size: 24px;
    color: #000;
}

.cabecalho2 .logo small {
    font-size: 13px;
}

.cabecalho2 .menu span,
.cabecalho2 .menu a {
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
}

.logo span {
    color: #fff;
    font: 30px montserrat-extrabold;
    letter-spacing: 2px;
    margin-left: 10px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.logo br {
    display: none;
}

.logo small {
    font-size: 15px;
    letter-spacing: 5px;
}

.menu span,
.menu a {
    font-size: 16px;
    color: #fff;
    padding: 25px;
    cursor: pointer;
    transition: .4s all;
}

.menu a {
    padding-right: 0;
}

.menu .ativo,
.menu span:hover {
    color: #e5581c !important;
}

.menu .whatsapp {
    display: flex;
    align-items: center;
}

.menu .whatsapp i {
    height: 15px;
    width: 15px;
    margin-right: 7px;
    background: url(../img/whatsapp.svg) no-repeat center;
}

.menu .whatsapp:hover {
    color: #25d366;
}

.botoes-mobile {
    display: none;
}

.banner {
    min-height: 100vh !important;
    position: relative;
}

.banner-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.75);
}

.banner .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    color: #fff;
    padding-top: 75px;
}

.banner .chamada {
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.banner .chamada div {
    width: 40px;
    height: 2px;
    background: #e5581c;
    margin-right: 15px;
}

.banner .titulo {
    font-family: montserrat-medium;
    font-size: 70px;
    margin: 25px 0;
}

.banner .texto {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
}

.banner .botao {
    background: #e5581c;
    font: 12px montserrat-bold;
    letter-spacing: 1px;
    padding: 15px 10px;
    width: 220px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all;
    margin-top: 50px;
    border: 1px solid transparent;
    animation: moverY 1s infinite alternate;
}

.banner .botao:hover {
    background: #fff;
    border-color: #fff;
    color: #e5581c;
}

.servicos {
    background: #fff;
}

.servicos .container {
    flex-direction: column;
    justify-content: center;
}

.servicos-titulo {
    width: 100%;
    text-align: center;
    font: 50px montserrat-bold;
    line-height: 1;
    color: #000;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.servicos-conteudo {
    display: flex;
    justify-content: space-between;
}

.servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
}

.servico-foto {
    height: 35vh;
    max-height: 350px;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .15);
}

.servico-titulo {
    font: 18px montserrat-bold;
    line-height: 1;
    color: #000;
    text-align: center;
    margin: 25px 0 15px;
}

.servico-texto {
    font-size: 15px;
    color: #999;
    line-height: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.servico-texto h3 {
    display: inline;
}

.projetos {
    background: url(../img/projetos.png) #2f2f2f left bottom no-repeat;
}

.projetos .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projetos-titulo {
    width: 100%;
    text-align: center;
    font: 50px montserrat-bold;
    line-height: 1;
    color: #fff;
    letter-spacing: 2px;
}

.projetos-chamada {
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.projetos-chamada.mobile {
    display: none;
}

.projetos-conteudo {
    width: 600px;
    height: 400px;
}

.projetos-conteudo img {
    width: 100%;
    max-height: 400px;
}

.rodape {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contato {
    background: #e6e6e6;
    position: relative;
}

.contato .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato-titulo {
    width: 100%;
    text-align: center;
    font: 50px montserrat-bold;
    line-height: 1;
    color: #000;
    letter-spacing: 2px;
    margin: 0 0 50px;
}

.contato-conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contato-info {
    display: flex;
    flex-direction: column;
}

.contato-mobile {
    display: none !important;
}

.contato-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.contato-link:first-child {
    margin-top: 0;
}

.contato-link img {
    height: 40px;
    display: flex;
}

.contato-link b {
    font-family: montserrat-bold;
    margin: 25px 0;
    font-size: 22px;
    line-height: 1;
    color: #000;

}

.contato-link span {
    font-size: 18px;
    line-height: 1;
    color: #2f2f2f;
    display: flex;
    align-items: center;
}

.contato-link span i {
    height: 15px;
    width: 15px;
    margin-left: 7px;
    background: url(../img/whatsapp.svg) no-repeat center;
}

a.contato-link:hover * {
    color: #e5581c;
}

.contato-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contato-form input,
.contato-form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    color: #000;
    margin-bottom: 25px;
    padding-left: 25px;
    outline: 0;
    border: 1px solid transparent;
}

.contato-form input {
    height: 50px;
}

.contato-form textarea {
    min-height: 50px;
    height: 195px;
    padding-top: 17px;
}

.contato-input:focus:valid,
.input-ativo:valid {
    border-color: #60937d;
}

.contato-input:focus:invalid,
.input-ativo:invalid {
    border-color: #d90f00;
}

.contato-form button {
    background: #e5581c;
    color: #fff;
    font: 12px montserrat-bold;
    width: 220px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all;
    border: 1px solid transparent;
    outline: 0;
}

.contato-form button:hover {
    background: #000;
    border-color: #111;
}

.copy {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #222;
    background: #fff;
    padding: 25px;
}

.copy a {
    color: #222;
}

.copy a:hover {
    color: #e5581c;
}

#whatsapp {
    height: 70px;
    width: 70px;
    background: url('../img/whatsapp-branco.svg') no-repeat center #25d366;
    background-size: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px -2px #000;
    animation: moverX 1s infinite alternate;
}

#whatsapp:hover {
    background-color: #075E54;
}

@media(max-width: 1220px) {
    .container {
        padding: 0 5%;
    }

    .logo img {
        height: 80px;
    }

    .logo span {
        font-size: 25px;
    }

    .menu span,
    .menu a {
        font-size: 15px;
        padding: 15px;
    }

    .banner .titulo {
        font-size: 55px;
    }

    .servico-foto {
        height: 220px;
    }

    .servico-titulo {
        font-size: 16px;
    }
}

@media(min-width: 991px) {
    .menu {
        display: flex !important;
    }
}

@media(max-width: 990px) {
    section {
        min-height: 0;
    }

    .cabecalho {
        padding: 0;
    }

    .cabecalho .container {
        flex-wrap: wrap;
        padding: 0;
    }

    .cabecalho2 .logo span {
        font-size: 17px;
    }

    .logo {
        margin: 25px 4%;
    }

    .logo img {
        height: 60px;
    }

    .logo span {
        font-size: 16px;
    }

    .logo br {
        display: block;
    }

    .logo small {
        display: none;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        display: none;
        margin-top: -25px;
    }

    .menu .whatsapp {
        display: none;
    }

    .menu span {
        font-size: 15px;
        padding: 15px 4%;
        width: 100%;
    }

    .botoes-mobile {
        display: flex;
        margin-right: 4%;
    }

    .botao-whats {
        height: 40px;
        width: 40px;
        background: url(../img/whatsapp.svg) no-repeat center;
        background-size: contain;
        margin-right: 20px;
    }

    .botao-menu {
        height: 40px;
        width: 40px;
        background: url(../img/menu.svg) no-repeat center #fff;
        background-size: contain;
        border-radius: 50%;
    }

    .banner {
        padding: 210px 0 100px;
    }

    .banner-img {
        background-attachment: fixed;
        background-position: unset;
        filter: brightness(.75);
    }

    .banner .container {
        align-items: center;
        padding-top: 0;
        margin-top: -25px;
    }

    .banner .chamada {
        font-size: 14px;
        text-align: center;
        justify-content: center;
        text-shadow: 1px 1px 0 #000;

    }

    .banner .chamada div {
        width: 15px;
        margin-right: 10px;
    }

    .banner .titulo {
        font-size: 35px;
        text-align: center;
        text-shadow: 1px 1px 0 #000;
    }

    .banner .texto {
        font-size: 15px;
        text-align: center;
        text-shadow: 1px 1px 0 #000;
    }

    .banner .texto br {
        display: none;
    }

    .banner .botao {
        width: 80%;
        margin: 25px auto 0;
    }

    .servicos {
        padding: 0;
    }

    .servicos-titulo {
        font-size: 25px;
        text-transform: uppercase;
        margin: 50px 0;
    }

    .servicos-titulo br {
        display: block;
    }


    .servicos-conteudo {
        flex-direction: column;
    }

    .servico {
        width: 100%;
        margin: 0 0 35px;
    }

    .servico-foto {
        height: 180px;
        width: auto;
        max-width: 100%;
    }

    .projetos-titulo {
        font-size: 25px;
    }

    .projetos-chamada {
        margin-top: 5px;
    }

    .projetos-chamada.desktop {
        display: none;
    }

    .projetos-chamada.mobile {
        display: block;
    }

    .projetos-conteudo {
        width: 250px;
        height: 150px;
    }

    .projetos-conteudo img {
        max-height: 150px;
    }

    .contato {
        padding: 0;
    }

    .contato-titulo {
        font-size: 25px;
        margin: 25px 0;
        letter-spacing: 0px;
    }

    .contato-conteudo {
        flex-direction: column;
    }

    .contato-link {
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }

    .contato-link img {
        height: 25px;
    }

    .contato-link b {
        margin: 15px 0 10px;
        font-size: 18px;
    }

    .contato-mobile {
        display: flex !important;
    }

    .contato-link span {
        font-size: 15px;
    }

    .contato-form {
        width: 100%;
        margin: 10px 0 35px 0;
    }

    .contato-form input,
    .contato-form textarea {
        margin-bottom: 15px;
    }

    .contato-form button {
        margin-top: 0;
        width: 100%;
    }

    .copy {
        line-height: 1.5;
    }

    #whatsapp {
        height: 50px;
        width: 50px;
    }
}

@media(max-height: 730px) and (min-width: 991px) {
    section {
        padding: 15vh 0;
    }
}

@keyframes moverY {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes moverX {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-5px);
    }
}